
@import "./resset.css";
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet");


* {
    background-color: #1E1231;
    font-family: "Lexend", sans-serif;
}

body {
    padding: 0;
    height: 600px;
}

ul {
    list-style-type: none;
    white-space: nowrap;
}

.futter_menu, .block_header_menu, .block_header_login, .social_media_text, .block_header_menu_li {
    font-size: 80%;
}

.futter_menu, .block_header_menu, .block_header_login, .social_media_text,
.blog_header2, .blog_text, .button_container_1_become, .container_1_text_header  {
    color: aliceblue;
}

.container_1_text_pod_header, .social_media_text {
    color:rgb(175, 175, 175);
}

.container_1_text_header, .button_container_1_become, .blog_header2 {
text-transform: uppercase;
}

.header  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 0.19em solid #9DADF2;
    border-radius: 42em;
    padding: 0.7em 2em 0.7em 2em;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    background-color: transparent;
}

.logo {
    width: 25%;
}

.block_header_menu {
    display: grid;
    grid-template-columns: 4em 4em 6em 4em 5em 4em 22em;
    grid-gap: 2px;
    margin-top: 2%; 
}

.menu_li {color: #fcfcfc;
}

.menu_li:hover {
    color:#478BF9;
}

.block_header_menu_li:hover {
    color:#478BF9;
    text-decoration: underline;
}

.header_mob{
    padding: 15px 30px 15px 30px;
    border: 0.19em solid #478BF9;
    border-radius: 42em;
    display: grid;
    grid-template-columns: 30px 30px  30px;
    position: absolute;
    width: 420px;
    margin-left: -40px;
    margin-top: -5px;
    display: none;
}

.logo_mob {
    width: 30px;
}

.union_mob {
    display: none;
}

.menu_li_mob {
    display: none;
}

.nav-button {
    display: none;
}

.union_mob {
    
    position: relative;
}



.block_header_menu_mob_open {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #1E1231;
        z-index: 1;
        padding: 46px 30px;
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        font-size: 34px;
        font-weight: 600;
    
}


#nav1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    display: flex;
    margin-left: 85px;
}

.button_login {
    font-size: 10px;
    text-transform: uppercase;
    white-space: nowrap;
    border-radius: 42em;
    color: rgb(255, 255, 255);
    border: 0.15em solid #9DADF2;
    padding: 10px 15px 10px 15px;
    width: ;
    justify-content: center;
    align-items: center;
    transition-duration: 0.2s;
    background-color: #1E1231;
    transition: background-color 1s ease-in-out;
    margin-left: 6px;
    text-decoration: none;
    margin-top: -10px;
}
  
.button_login:hover {
    background-color: #478BF9;
}


#header_button{
    display: grid;
    grid-template-columns: 1fr 1fr;   
}

.unionv_button_login {
    background-color: transparent;
    height: 1.3em;
    margin-right: 15px;
}

.en {
    background-color: transparent; 
}
 #er{
    display: none;
    position: absolute;
 }

 .hidden{
    display: none;
    position: absolute;
 }

.container {
    display: grid;
    grid-template-columns: 1fr 0.3fr 1fr;
    grid-gap: 3%;
    padding-left: 7%;
    flex-wrap: wrap;
}

.container_1 {
    flex: 1 1 0;
}

.container_1_text_header {
    font-size: 280%;
    margin-top:30%;
    position: relative;
    background-color: transparent;
}

.container_1_text_blue {
    color:#478BF9;
    margin-top:-2%;
    position: relative;
    background-color: transparent;
}

.container_1_text_pod_header{
    position: relative;
    margin: none;
    background-color: transparent;
}

.button_container_1_become {
    white-space: nowrap;
    border-radius: 42px;
    color: rgb(255, 255, 255);
    padding: 10px 20px 10px 20px;
    width: 46%;
    justify-content: center;
    align-items: center;
    transition-duration: 0.2s;
    background-color: #478BF9;
    transition: background-color 1s ease-in-out;
    position: relative;
    border: none;
    margin-top: 5%;
}

.button_container_1_become:hover {
    background-color: #3e77d3;;
}

.r {
    width: 250%;
    margin-top: -70%;
    margin-left: -22%;
}

.е {
    width: 101.5%;
    margin-top: -76%; 
}

.img_blick_container_3  {
    width: 25%;
}

.container_2{
    display: block;
}

.container_2_mob {
    position: relative;
    display: none;
}


.blog_header2 {
    margin-left: 20%;
    margin-bottom: 5%;
    position: relative;
    background-color: transparent;
    margin-top: 15%;
    font-size: 200%;
    font-style: bold;
}

.blog_text_all {
    height: 40%;
    border: 0.15em solid #9DADF2;
    border-radius: 4.5em;
    padding: 1% 0% 0% 4%;
    width: 75%;
    background-color: #483e57;
    position: relative;
}

.blog_scrol {
    overflow-y: scroll;
    height: 70%;
    background-color: #483e57;
    margin-top: 2.9em;
    margin-right: 0.5em;
    position: relative;
}

.blog_scrol::-webkit-scrollbar {
    width: 5px;
    background-color: #827a8f;
    border-radius: 50px;
    z-index: 1;
  }
  
  .blog_scrol::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: #478BF9;
  }
  
  .blog_scrol:-webkit-scrollbar-track {
    margin-top: 15px;
    -webkit-box-shadow: inset 0 0 6px #d1cfcf00;
    border-radius: 10px;
    background-color: #f9f9fd;
  }

  .blog_scrol::-webkit-scrollbar-button:end:decrement {
    height: 25%;
    display: block;
}

.blog_text_data {
    border-radius: 4em;
    color: aliceblue;
    padding: 1.3em  0.15em  1.3em  0.15em;
    width: 96%;
    transition-duration: 0.2s;
    background-color: #1E1231;
    transition: background-color 1s ease-in-out;
    margin-top: 2%;
    position: relative;
}

.blog_text_data:hover {
    background-color: #478BF9;
}

.blog_text {
    background-color: #1E1231;
    font-size: 90%;
    padding-left: 15%;
    padding-right: 15%;
    background-color: transparent;
    white-space: pre-line;
   }

.blog_data {
    background-color: transparent;
    font-size: 50%;
    position: relative;
    color: #d1cfcf;
    padding-left: 15%;
   }

.futter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -27%;
    border: 0.19em solid #9DADF2;
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
    padding-top: 1%;
    position: relative;
    background-color: transparent;
    display: grid;
    background-color: #1E1231;
}

.futter_menu {
    display: grid;
    grid-template-columns: 10em 5em 5em 5em 5em;
    background-color: transparent;
    margin-top: 8%;
    margin-left: 9%;
    margin-bottom: 3%;
}

#activ_futter_menu {
    color:aliceblue;
}

#activ_futter_menu:hover {
    color:#478BF9;
    text-decoration: underline;
}

.social_media_block {
    margin-right: 19%;
    background-color: transparent;
}

.social_media_text {
    margin-left: 76%;
    background-color: transparent;
}

.social_media_img_li {
    background-color: transparent;
}

.img_li {
    background-color: transparent;
}

.social_media_img {
    display: grid;
    grid-template-columns: 2.3em 2.3em 2.3em 2.3em 2.3em 2.3em 2.3em 2.3em;
    background-color: transparent;
    margin-left: 40%;
    margin-top: 3%;
}

.social_media_img_li:hover {
    filter: brightness(160%);
}
